div{
  font-family: 'Press Start 2P', cursive;
  color:white;
}
.container-fluid{
  background-color: rgb(200, 100, 50);
  min-height:100vh;
}
.wallet{
  z-index: 2;

}

.bg-section{
  border: 4px dashed rgb(255, 255, 255);
  border-radius:18px;  
  padding: 10px;
}
.btn{
  border: 3px dashed rgb(255, 255, 255) !important;
}
.btn1{
  transition:0.4s;
  background-color: rgba(0, 0, 0, 0.25) !important;
}
.btn1:hover{
  background-color: rgba(0, 0, 0, 0.4) !important;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  transform: scale(1.02);
}
p{
  font-size:12px !important;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader{
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
}
.reguard{
  font-size:30px;
}
.redes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:10px;
  padding-bottom: 10px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color: rgba(0, 0, 0, 0.226);
}
.redes img{
  height: 40px;
  margin: 0px 10px;
}