:root{
  --text-dark:rgb(17, 13, 17);
  --text-color:rgb(130,71,229);
  --text-light:rgb(224, 204, 255);
  --light:rgb(224, 204, 255);
}
.container-fluid{
  min-height:100vh;
}
.line-right{
  border-right: 1px solid rgba(164, 155, 172, 0.411);
}
nav{
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(130,71,229);
}
nav img{
  height:30px;
}

.redes img{
  height: 40px;
  margin: 0px 10px;
}
.text-logo{
  font-size: 18px;
  font-weight: 300;
  color: var(--text-light);
  font-family: 'Courier New', Courier, monospace;
}
.wallet{
  z-index: 2;
}
.mt-60{
  margin-top: 60px;
}

.bg-section{
  border-radius:18px;  
  padding: 10px;
}
.btn{
  border:1px solid #fff !important;
}
.btn1{
  transition:0.4s;
  background-color: rgba(0, 0, 0, 0.25) !important;
}
.btn1:hover{
  background-color: rgba(0, 0, 0, 0.4) !important;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  transform: scale(1.02);
}
p{
  font-size:12px !important;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.between{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 2px;
  padding:7px 5px;
}
.between b, .between p {
  padding: 0px;
  margin: 0px;
}

.around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.loader{
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
}
.reguard{
  font-size:30px;
}
.btn-primary{
  background-color: var(--bg-2) !important;
}

.modalBackground{
  position: fixed;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.712);
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.modalIn{
  border-radius: 15px;
  background-color: var(--light);
  padding: 10px;
  min-width: 300px;
  max-width: 90vw;
  max-height: 90vh;
}
.new{
  background-color: rgba(255, 34, 71, 0.918);
  border-radius: 3px;
  color: #fff;
  padding: 0px 10px;
  font-weight: lighter;
}